{% extends 'purchase/base.html' %}
{% block content %}
<h2>Customer List </h2>

<button type="button" class="btn btn-link"><a href="/NewCustomer/"> Create </a> </button>

<ul>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Address</th>
        <th scope="col">Supplier Terms </th>
        <th scope="col">Contact Name</th>
        <th scope="col">Mobile No</th>
        <th scope="col">Phone No</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
    {% for cust in object_list %}

  <tr>
    <th scope="row">{{cust.id}}</th>
    <td><a href="/custList/{{ cust.id }}/CustUpdat/">{{ cust.cusotmer_name }}</a></td>
    <td>{{cust.address}}</td>
    <td>{{cust.supplier_Terms}}</td>
    <td>{{cust.supplier_Contac_Name}}</td>
    <td>{{cust.mobile_no}}</td>
    <td>{{cust.land_Line}}</td>
    <td><a class="btn btn-danger" href="/custList/{{ cust.id }}/CustDelete/" role="button">Delete</a></td>


    {% endfor %}

</tbody>
</table>


</ul>
{% endblock %}