{% extends 'purchase/base.html' %}
{% load crispy_forms_tags %}
{% crispy formset helper %}

<!DOCTYPE html>
<html>
    <head>
        <title>Ezee Invocie</title>
    </head>

    <body>

        {% block content %}
 
        <form action="" method="post">
    
            {% csrf_token %}
            
            <h3 class="text-info">Edit Invoice  </h3>
            <br>

            {{ form |crispy }}
      
            {% csrf_token %}
            
            <h3 class="text-info">Edit Invoice  </h3>
            <br>

          <table>
            <tr> {{ invoice_items.as_table }} </tr>
          </table>




    

            <input type="submit" value="Submit">

        </form>


        {% endblock content %} 


    </body>

</html>