
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

{% load static %}


{% block content %}

<center>

  <h1> Ezee Invocie </h1><br>
     <h3><i>by Software Factory</i></h3>
     <br>
     <h2> VAT No 123456789 رقم ضريبة</h2>
  <br>
  <h3>VAT Invoice No <B> {{ invoice.id }} </B> ضريبة القيمة المضافة  </h2>

</center>
<br><br>

<p class="fs-4">Issued To : <b> {{ invoice.cusotmer_name }} </b></p> 

<p class="fs-4">Issued On : <b>{{ invoice.invoice_Date }}</b></p> 

<p class="fs-4">For Department : <b>{{ invoice.department }}</b></p> 

<p class="fs-4">Terms and Conditions : <b>{{ invoice.terms }}</b></p> 

<p class="fs-4">Notes :<b> {{ invoice.comments }}</b></p> 

<br><br><br><br>
<br>
<table class="table table-striped">
  <thead>
      <th scope="col">Item Number </th>
      <th scope="col">Item Name</th>
      <th scope="col">Price </th>
      <th scope="col">Quantity</th>
      <th scope="col"> Amount </th>
      <th scope="col"> VAT </th>
      <th scope="col"> Total </th>


    </tr>
  </thead>

  <tbody>
{% for invo in invoice_items %}

  <tr>
  <th scope="row">{{ invo.id }}</th>
  <td>{{ invo.items }}</td>
  <td>{{ invo.item_price }}</a></td>
  <td>{{ invo.quantity }}</td>
  <td>{{ invo.get_total }}</td>
  <td>{{ invo.get_vat }}</td>
  <td>{{ invo.invoice_line_total }}</td>
  {% endfor %}
</tbody>
</table>
<br>
<br>
<p class="fs-3">Total Amount on Inovice : {{ total_amount.total_price__sum }}</p> 
<p class="fs-3">Total VAT on Inovice : {{ total_vat.total_vat__sum }}</p> 
<p class="fs-3">Total Amount on Inovice (Tax Included): {{ total_price.total_line_value__sum }}</p> 

<br>
<br>
<p class="fs-4">Notes :<b> {{ invoice.comments }}</b></p> 

</ul>
<p class="fs-3"> {{ qrdata }}</p> 


<!-- <img src="{% static 'qr.png' %}".png > -->
<!-- <img src="{% static 'qr.png' %}" style="width:120px;height:150px;"> -->


{% endblock %}