{% extends "purchase/base.html" %}

{% block content %}
    <h2>Invoices</h2>
    <ul>
        {% for invoice in object_list %}
            <li> {{invoice.invoice_Date}} {{invoice.department}} </li> 
            
        {% endfor %}
             


<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>

    </tbody>
  </table>


</ul>
{% endblock %}