{% extends 'purchase/base.html' %}

<!DOCTYPE html>
<html>
    <head>
        <title>Ezee Invocie</title>
    </head>

    <body>

        {% block content %}
    
        <form action="" method="post">
    
            {% csrf_token %}

            <h5 class="text-info">Add Invoice Data </h5>
            <br>
                    {{ form.as_p }}

                    {{ InvoiceDescr.as_table }}
             

            <input type="submit" value="Submit">

        </form>


        {% endblock content %}

    </body>

</html>