{% extends 'purchase/base.html' %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title>Ezee Invocie</title>
    </head>

    <body>

        {% block content %}
    
        <form action="" method="post">
    
            {% csrf_token %}
            
            <h3 class="text-info">Add Invoice </h3>
            <br>
            
            {{ form|crispy }}
            <!-- {{ form }} -->

            <h3 class="text-info">Add Items Details </h3>

                    

              <br>  {{ InvoiceDescr }} <br><br><br>

    

            <input type="submit" value="Submit">

        </form>


        {% endblock content %}

    </body>

</html>